#maps {
  width: 100vw;
  height: 100vh;

  position: relative;

  aside {
    position: fixed;
    width: 320px;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 32px;
    background-color: rgba($color: #191622, $alpha: 0.9);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

    transition: 0.5s;

    header {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      svg {
        font-size: 20px;
        cursor: pointer;
        margin-right: 16px;

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }

      h1 {
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
      }
    }

    main {
      .city-selection {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
          margin-bottom: 8px;
        }
        
        select {
          background: none;
          color: var(--text);
          padding: 6px;
          border-radius: 8px;
  
          option {
            background-color: var(--background);
          }
        }
      }

      .city-info {
        padding-bottom: 10px;
        
        h2, h3 {
          font-size: 17px;
          font-weight: 600;
          line-height: 18px;
          margin:0;
          padding:0;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          margin:1px;
          padding:0px;
        }

        hr {
          margin: 6px 0;
        }
      }

      .info-container{
        display: flex;
        width: 100%;
        align-items: center;
        padding-bottom: 3px;

        p {
          margin:0;
          padding:0;
        }
          
        input[type=radio] {
          margin-right: 6px;
        }

        input[type=date] {
          margin-left: 10px;
          width: 140px;
          
          padding: 2px 5px;
          font-size: 13px;
          border: 1px solid var(--text);
          border-radius: 8px;
          color: var(--text);
          background-color: var(--background);
        }
      }
    }

    footer {
      display: flex;
      flex-direction: column;
    
      line-height: 32px;


      span {
        align-self: flex-end;
        font-size: 14px;
      }
    }
  }

  .invisible-sidebar {
    right: -320px;
  }

  .invisible-toggle {
    display: none;
  }

  .toggle-sidebar {
    position: fixed;
    top: 10px;
    right: 10px;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--background);

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
  .aside-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--link);
    margin-bottom: 0;
    font-size: 14px;
    transition: filter 0.2s;
    padding: 3px 3px 4px 0;
    &:hover {
      filter: brightness(0.8);
    }
    
    svg {
      margin-left: 8px;
    }
  }

  .loading-section {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #191622, $alpha: 0.8);

    .lds-roller {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
    }
    .lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #fff;
      margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
      top: 63px;
      left: 63px;
    }
    .lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
      top: 68px;
      left: 56px;
    }
    .lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
      top: 71px;
      left: 48px;
    }
    .lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
      top: 72px;
      left: 40px;
    }
    .lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
      top: 71px;
      left: 32px;
    }
    .lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
      top: 68px;
      left: 24px;
    }
    .lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
      top: 63px;
      left: 17px;
    }
    .lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
      top: 56px;
      left: 12px;
    }
    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

#maps .leaflet-container {
  z-index: 0;
}
