#header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 160px;
  background: #988bc7;
  border-radius: 0px 0px 8px 8px;

  font-family: "Inter", sans-serif;

  h2 {
    font-size: 36px;
    font-weight: 700;
  }

  p {
    font-size: 24px;
    font-weight: 400;
  }
}
