
#legend{
    position: fixed;  
    display: grid;
    align-items: center;
    padding: 10px 15px 15px 15px;
    width: 200px;
    background-color:rgba($color: #5A4B81, $alpha: 0.6); 
    bottom: 3%;
    left :1%;
    border-radius: 1px;
  }
  #legend h2{
    font-size: 10pt;
    text-align: center;
    letter-spacing: 0.5px;
    text-decoration: underline;
    font-weight: 500;
    padding-bottom:4px;
  }
  .section-legend{
    display:flex;
    align-items: center;
    font-size:10pt;
    font-weight: 200;
    padding: 4px;
  }
  .color-risk{
    margin-right:13px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    
  }
  #low-risk{
    background-color: #78D1E1;
  }
  #medium-low-risk{
    background-color: #67E480;
  }
  #medium-risk{
    background-color: #E7DE79;
  }
  #medium-high-risk{
    background-color: #E89E64;
  }
  #high-risk{
    background-color: #E96379;
  }
  
  